[importlinter]
include_external_packages = True
root_packages =
    orders
    payments
    products
    usf
    insurance
    shared
    ext

[importlinter:contract:orders-ca]
name = CA layers
type = layers
layers =
    orders.migrations : orders.apps : orders.django_order_repository : orders.models : orders.serializers : orders.urls : orders.views
    orders.app
    orders.domain
